<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
  <title>Document</title>
</head>
<body>
  <div>test</div>
  <div style="height: 1000px;width: 200px;background-color: blueviolet"></div>
  <mip-fixed type='gototop'>
    <mip-gototop></mip-gototop>
  </mip-fixed>
  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
  <script src="https://c.mipcdn.com/static/v2/mip-gototop/mip-gototop.js
  "></script>
</body>
</html>
